<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Cubyl Battles | Home</title>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="header">
        <h1><a href="/">Cubyl Battles</a></h1>
      </div>
      <div class="container">
        <p>
          Welcome to Cubyl Battles, where you can 1v1 your friends at cubing and compete for the fastest solve! If you
          just want to time your solves, check out
          <a id="timerLink" href="https://cubyl-timer.netlify.app/" target="_blank">Cubyl Timer</a>.
        </p>
        <a class="btn" href="/new">new battle</a>
      </div>
    </div>
  </body>
</html>
