<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <title>Cubyl Battles | Home</title>
  </head>
  <body>
    <a href="/"><h1>Cubyl Battles</h1></a>
    <p>
      Welcome to Cubyl Battles, where you can 1v1 your friends at cubing and compete for the fastest solve! If you just
      want to time your solves, check out Cubyl Timer.
    </p>
    <button><a href="/new">new battle</a></button>
  </body>
</html>
