<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="room.css" />
    <script>
      const ROOM_ID = '<%= roomId %>'
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Cubyl Battles | Battle</title>
  </head>
  <body>
    <a href="/"><h1>Cubyl Battles</h1></a>
    <div class="container">
      <div>
        <p id="scramble"></p>
      </div>
      <div id="boxes">
        <div class="box">
          <video></video>
          <h3 class="username"></h3>
          <h3 class="timer"></h3>
        </div>
        <div class="box">
          <video></video>
          <h3 class="username"></h3>
          <h3 class="timer"></h3>
        </div>
      </div>
      <button onclick="start()">start</button>
      <button onclick="end()">end</button>
      <button onclick="ready()">ready</button>
      <button onclick="newScramble()">new scramble</button>
    </div>
  </body>
</html>
