@font-face {
  font-family: 'DK Sensory Overload';
  src: url('fonts/DK-Sensory-Overload.ttf.woff') format('woff'),
    url('fonts/DK-Sensory-Overload.ttf.svg#DK-Sensory-Overload') format('svg'), url('fonts/DK-Sensory-Overload.ttf.eot'),
    url('fonts/DK-Sensory-Overload.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.eot')
      format('embedded-opentype'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff')
      format('woff'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.eot')
      format('embedded-opentype'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff2')
      format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff')
      format('woff'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Bold.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: 'Jetbrains Mono', monospace;
  background-color: #1e1e1e;
  color: rgb(238, 238, 238);
}

.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 80%;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'DK Sensory Overload';
}

h1 a,
h1 a:visited {
  color: #f1f1f1;
  text-decoration: none;
}

.btn {
  background-color: #64f596;
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #1e1e1e;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Jetbrains Mono', monospace;
  font-size: 16px;
  transition: background-color 300ms ease;
}

.btn:hover {
  cursor: pointer;
  background-color: #32b660;
}

.container {
  display: flex;
  flex-direction: column;
}
