@font-face {
  font-family: 'DK Sensory Overload';
  src: url('fonts/DK-Sensory-Overload.ttf.woff') format('woff'),
    url('fonts/DK-Sensory-Overload.ttf.svg#DK-Sensory-Overload') format('svg'), url('fonts/DK-Sensory-Overload.ttf.eot'),
    url('fonts/DK-Sensory-Overload.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.eot')
      format('embedded-opentype'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff')
      format('woff'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.eot')
      format('embedded-opentype'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff2')
      format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff')
      format('woff'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Bold.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  background-color: #e39746;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.boxes {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

video {
  visibility: hidden;
  width: 400px;
  height: 300px;
  object-fit: cover;
  border: 5px solid #e39746;
}

h1 {
  text-align: center;
  font-family: 'DK Sensory Overload';
  font-size: 40px;
  font-weight: normal;
}

a {
  color: #f1f1f1;
  text-decoration: none;
}

p {
  max-width: 60%;
}

#linkTimer,
#linkTimer:visited {
  color: #46b9e3;
  text-decoration: none;
}

.btn {
  background-color: #5de372;
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #1e1e1e;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  transition: all 300ms ease;
}

.btn:hover {
  cursor: pointer;
  background-color: #39b84c;
}

#heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  word-spacing: 5px;
  color: #eb5aa2;
}

.username {
  font-size: 20px;
}

.timer {
  font-size: 40px;
  font-weight: bold;
  transition: all 300ms ease;
}

.timer.active {
  color: #e39746;
}

.timer.ready {
  color: #5de372;
}
